doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title 视频云处理平台
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        style.
            ul,li{
                list-style: none;
            }
            li{
                display: block;
                padding: 10px;
            }
    body
        .content
            ul
                li
                    a(href="page/treeMenu.html") 机构树菜单组件
                li
                    a(href="page/tabpage.html") 标签页组件
                li
                    a(href="page/checkbox.html") 单选框和复选框组件
                    
            
