doctype html
html
    head
        title 单选框 和 复选框组件
        link(rel="stylesheet", href="../assets/css/font-awesome.min.css")
    body
        div#checkbox
        script(src="../build/checkbox.entry.js")
